<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async">
  <button mat-button>
    <mat-icon class="mr-1">home</mat-icon>
    Home
  </button>
  <span class="fill-remaining-space"></span>
  <button mat-button>Mes cours</button>
  <button mat-button>Mes notes</button>
  <button mat-button>
    Quitter
  <mat-icon class="ml-3" (click)="onLogout()" title="Logout"  *ngIf="isLoggedIn$ | async">exit_to_app</mat-icon>
</button>
  <!-- <button mat-button (click)="onLogout()"  *ngIf="isLoggedIn$ | async">Logout</button>-->
</mat-toolbar>