<div class="signin-content">
  <mat-card>
    <div class="row">
     <div class="input-field">
              <button  class="btn-large btn-submit">Login</button>
            </div>
          </div>
    <mat-card-content>
      <div *ngIf="isLoginError" class="red-text center error-message col-sm-12">
        <i class="material-icons">error</i> Incorrect username or password
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
       
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text"  formControlName="userName" placeholder="userName" required>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password"  formControlName="password" placeholder="Password" required>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12 ">
              <button  class="btn-large btn-submit">Se connecter</button>
            </div>
          </div>
      </form>
    </mat-card-content>
    <div class="row">
      <p>Vous n'avez pas un compte ?</p> <a  routerLink='/signup' routerLinkActive='active'>s'enregistrer</a>
    </div>
  </mat-card>
  
</div>