<div class="signin-content">
  <mat-card>
    <div class="row">
     <div class="input-field">
              <button  class="btn-large btn-submit">Login</button>
            </div>
          </div>
    <mat-card-content>
      <div *ngIf="isLoginError" class="red-text  error-message col-sm-12">
        <i class="material-icons">error</i> Email ou mot de passe incorrect.
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
       
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text"  formControlName="userName" placeholder="Email" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              L'email est requis.
            </mat-error>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password"  formControlName="password" placeholder="Mot de passe" required>
            <mat-error  *ngIf="isFieldInvalid('password')">
              Le mot de passe est requis.
            </mat-error>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12 ">
              <button [disabled]="!form.valid" class="btn-large btn-submit">Se connecter</button>
            </div>
          </div>
      </form>
    </mat-card-content>
    <div class="row">
      <p>Vous n'avez pas un compte ?</p> <a  routerLink='/signup' routerLinkActive='active'>s'enregistrer</a>
    </div>
  </mat-card>
  
</div>